
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5f7;

background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#444cf7 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #444cf7 2.4000000000000004px, #e5e5f7 2.4000000000000004px) -1.2000000000000002px 0;
background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
  
}

canvas {
  margin-top: 3%;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  
}
h1 {
  font-size: xx-large;
  text-align: center;
  color: black;
}

left {
  float: left;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
